<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>VUE-CRUD-UI</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.2/vue-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>VUE-CRUD-UI</h3>
    </div>
  </div>
  <main id="app">
    <div class="row">
      <div class="col-md-3">
        <menu-component v-if="definition!==null" :subjects="definition.tags"></menu-component>
      </div>
      <div class="col-md-9">
        <router-view v-if="definition!==null" :definition="definition"></router-view>
      </div>
    </div>
  </main>
</div>

<template id="menu">
  <div>
    <ul v-if="subjects!==null" class="nav nav-pills nav-stacked">
      <router-link v-for="subject in subjects" tag="li" v-bind:to="{name: 'List', params: {subject: subject.name}}">
        <a>{{ subject.name }}</a>
      </router-link>
    </ul
  </div>
</template>

<template id="home">
</template>

<template id="list">
  <div>
    <h2>{{ subject }}: list</h2>
    <div class="actions">
      <router-link class="btn btn-default" v-bind:to="{name: 'Add', params: {subject: subject}}">
        <span class="glyphicon glyphicon-plus"></span>
        Add
      </router-link>
    </div>
    <p v-if="records===null">Loading...</p>
    <table v-else class="table">
      <thead>
        <tr>
          <th v-for="value in Object.keys(records[0])">{{ value }}</th>
          <th v-if="related">related</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="record in records">
          <template v-for="(value, key) in record">
            <td v-if="references[key] !== false">
              <router-link v-bind:to="{name: 'View', params: {subject: references[key], id: referenceId(references[key], record[key])}}">{{ referenceText(references[key], record[key]) }}</router-link>
            </td>
            <td v-else>{{ value }}</td>
          </template>
          <td v-if="related">
            <template v-for="(relation, i) in referenced">
              <router-link v-bind:to="{name: 'Filter', params: {subject: relation[0], column: relation[1], id: record[primaryKey]}}">{{ relation[0] }}</router-link>&nbsp;
            </template>
          </td>
          <td>
            <router-link class="btn btn-default" v-bind:to="{name: 'View', params: {subject: subject, id: record[primaryKey]}}">View</router-link>
            <router-link class="btn btn-default" v-bind:to="{name: 'Edit', params: {subject: subject, id: record[primaryKey]}}">Edit</router-link>
            <router-link class="btn btn-default" v-bind:to="{name: 'Delete', params: {subject: subject, id: record[primaryKey]}}">Delete</router-link>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<template id="create">
  <div>
    <h2>{{ subject }}: create</h2>
    <form v-on:submit="createRecord">
      <template v-for="(value, key) in record">
        <div class="form-group">
          <label v-bind:for="key">{{ key }}</label>
          <input class="form-control" v-bind:id="key" v-model="record[key]" />
        </div>
      </template>
      <button type="submit" class="btn btn-primary">Create</button>
      <router-link class="btn btn-default" v-bind:to="{name: 'List', params: {subject: subject}}">Cancel</router-link>
    </form>
  </div>
</template>

<template id="view">
  <div>
    <h2>{{ subject }}: view</h2>
    <p v-if="record===null">Loading...</p>
    <dl v-else>
      <template v-for="(value, key) in record">
        <dt>{{ key }} </dt>
        <dd>{{ value }}</dd>
      </template>
    </dl>
  </div>
</template>

<template id="update">
  <div>
    <h2>{{ subject }}: update</h2>
    <p v-if="record===null">Loading...</p>
    <form v-else v-on:submit="updateRecord">
      <template v-for="(value, key) in record">
        <div class="form-group">
          <label v-bind:for="key">{{ key }}</label>
          <input v-if="references[key] === false" class="form-control" v-bind:id="key" v-model="record[key]" :disabled="key === primaryKey" />
          <select v-else class="form-control" v-bind:id="key" v-model="record[key]">
            <option value=""></option>
            <option v-for="option in options[references[key]]" v-bind:value="option.key">{{ option.value }}</option>
          </select>
        </div>
      </template>
      <button type="submit" class="btn btn-primary">Save</button>
      <router-link class="btn btn-default" v-bind:to="{name: 'List', params: {subject: subject}}">Cancel</router-link>
    </form>
  </div>
</template>

<template id="delete">
  <div>
    <h2>{{ subject }}: delete #{{ id }}</h2>
    <form v-on:submit="deleteRecord">
      <p>The action cannot be undone.</p>
      <button type="submit" class="btn btn-danger">Delete</button>
      <router-link class="btn btn-default" v-bind:to="{name: 'List', params: {subject: subject}}">Cancel</router-link>
    </form>
  </div>
</template>

<script>
var api = axios.create({
  baseURL: 'api.php',
  withCredentials: true
});

api.interceptors.response.use(function (response) {
  if (response.headers['x-xsrf-token']) {
    document.cookie = 'XSRF-TOKEN=' + response.headers['x-xsrf-token'] + '; path=/';
  }
  return response;
});

var util = {
  methods: {
    resolve: function (path, obj) {
      return path.reduce(function(prev, curr) {
        return prev ? prev[curr] : undefined
      }, obj || this);
    },
    getDisplayColumn: function (columns) {
      var index = -1;
      var names = ['name', 'title', 'description', 'username'];
      for (var i in names) {
        index = columns.indexOf(names[i]);
        if (index >= 0) {
          return names[i];
        }
      }
      return columns[0];
    },
    getPrimaryKey: function (properties) {
      for (var key in properties) {
        if (properties[key]['x-primary-key']) {
          return key;
        }
      }
      return false;
    },
    getReferenced: function (properties) {
      var referenced = [];
      for (var key in properties) {
        if (properties[key]['x-referenced']) {
          for (var i = 0; i < properties[key]['x-referenced'].length; i++) {
            referenced.push(properties[key]['x-referenced'][i].split('.'));
          }
        }
      }
      return referenced;
    },
    getReferences: function (properties) {
      var references = {};
      for (var key in properties) {
        if (properties[key]['x-references']) {
          references[key] = properties[key]['x-references'];
        } else {
          references[key] = false; 
        }
      }
      return references;
    },
    getProperties: function (action, subject, definition) {
      if (action == 'list') {
        path = ['components', 'schemas', action + '-' + subject, 'properties', 'records', 'items', 'properties'];
      } else {
        path = ['components', 'schemas', action + '-' + subject, 'properties'];
      }
      return this.resolve(path, definition);
    }
  }
};

Vue.component('menu-component', {
  mixins: [util],
  template: '#menu',
  props: ['subjects']
})

var Home = Vue.extend({
  mixins: [util],
  template: '#home'
});

var List = Vue.extend({
  mixins: [util],
  template: '#list',
  data: function () {
    return {
      records: null,
      subject: this.$route.params.subject
    };
  },
  props: ['definition'],
  created: function () {
    this.readRecords();
  },
  watch: {
    '$route': 'readRecords'
  },
  computed: {
    related: function () {
      return (this.referenced.filter(function (value) { return value; }).length > 0);
    },
    join: function () {
      return Object.values(this.references).filter(function (value) { return value; });
    },
    properties: function () {
      return this.getProperties('list', this.subject, this.definition);
    },
    references: function () {
      return this.getReferences(this.properties);
    },
    referenced: function () {
      return this.getReferenced(this.properties);
    },
    primaryKey: function () {
      return this.getPrimaryKey(this.properties);
    }
  },
  methods: {
    referenceText(subject, record) {
      var properties = this.getProperties('read', subject, this.definition);
      var displayColumn = this.getDisplayColumn(Object.keys(properties));
      return record[displayColumn];
    },
    referenceId(subject, record) {
      var properties = this.getProperties('read', subject, this.definition);
      var primaryKey = this.getPrimaryKey(properties);
      return record[primaryKey];
    },
    readRecords: function () {
      this.subject = this.$route.params.subject;
      this.records = null;
      var url = '/records/' + this.subject;
      if (this.join) url += '?join=' + this.join.join('join=');
      var self = this;
      api.get(url).then(function (response) {
        self.records = response.data.records;
      }).catch(function (error) {
        console.log(error);
      });
    }
  }
});

var View = Vue.extend({
  mixins: [util],
  template: '#view',
  props: ['definition'],
  data: function () {
    return {
      id: this.$route.params.id,
      subject: this.$route.params.subject,
      record: null
    };
  },
  watch: {
    '$route': 'readRecord'
  },
  created: function () {
    this.readRecord();
  },
  computed: {
    properties: function () {
      return this.getProperties('read', this.subject, this.definition);
    }
  },
  methods: {
    readRecord: function () {
      this.id = this.$route.params.id;
      this.subject = this.$route.params.subject;
      this.record = null;
      var self = this;
      api.get('/records/' + this.subject + '/' + this.id).then(function (response) {
        self.record = response.data;
      }).catch(function (error) {
        console.log(error);
      });
    }
  }
});

var Edit = Vue.extend({
  mixins: [util],
  template: '#update',
  props: ['definition'],
  data: function () {
    return {
      id: this.$route.params.id,
      subject: this.$route.params.subject,
      record: null,
      options: {}
    };
  },
  created: function () {
    this.readRecord();
  },
  computed: {
    properties: function () {
      return this.getProperties('update', this.subject, this.definition);
    },
    primaryKey: function () {
      return this.getPrimaryKey(this.properties);
    },
    referenced: function () {
      return this.getReferenced(this.properties);
    },
    references: function () {
      return this.getReferences(this.properties);
    },
  },
  methods: {
    readRecord: function () {
      this.id = this.$route.params.id;
      this.subject = this.$route.params.subject;
      this.record = null;
      var self = this;
      this.populateOptions();
      api.get('/records/' + this.subject + '/' + this.id).then(function (response) {
        self.record = response.data;
      }).catch(function (error) {
        console.log(error);
      });
    },
    updateRecord: function () {
      api.put('/records/' + this.subject + '/' + this.id, this.record).then(function (response) {
        console.log(response.data);
      }).catch(function (error) {
        console.log(error);
      });
      router.push({name: 'List', params: {subject: this.subject}});
    },
    populateOptions: function() {
      this.options = {};
      var self = this;
      for (var key in this.references) {
        var subject = this.references[key];
        if (subject !== false) {
          var properties = this.getProperties('list', subject, this.definition);
          var displayColumn = this.getDisplayColumn(Object.keys(properties));
          var primaryKey = this.getPrimaryKey(properties);
          api.get('/records/' + subject + '?columns=' + primaryKey + ',' + displayColumn).then(function (subject, primaryKey, displayColumn, response) {
            self.options[subject] = response.data.records.map(function (record) {
              return {key: record[primaryKey], value: record[displayColumn]};
            });
          }.bind(null, subject, primaryKey, displayColumn)).catch(function (error) {
            console.log(error);
          });
        }
      }
    }
  }
});

var Delete = Vue.extend({
  template: '#delete',
  data: function () {
    return {
      id: this.$route.params.id,
      subject: this.$route.params.subject
    };
  },
  methods: {
    deleteRecord: function () {
      api.delete('/records/' + this.subject + '/' + this.id).then(function (response) {
        console.log(response.data);
      }).catch(function (error) {
        console.log(error);
      });
      router.push({name: 'List', params: {subject: this.subject}});
    }
  }
});

var Add = Vue.extend({
  mixins: [util],
  template: '#create',
  props: ['definition'],
  data: function () {
    return {
      id: this.$route.params.id,
      subject: this.$route.params.subject,
      record: null
    };
  },
  created: function () {
    this.initRecord();
  },
  computed: {
    properties: function () {
      return this.getProperties('create', this.subject, this.definition);
    }
  },
  methods: {
    initRecord: function () {
      this.record = {};
      for (var key in this.properties) {
        if (!this.properties[key]['x-primary-key']) {
          if (this.properties[key].default) {
            this.record[key] = this.properties[key].default;
          } else {
            this.record[key] = '';
          }
        }
      }
    },
    createRecord: function() {
      var self = this;
      api.post('/records/' + this.subject, this.record).then(function (response) {
        self.record.id = response.data;
      }).catch(function (error) {
        console.log(error);
      });
      router.push({name: 'List', params: {subject: this.subject}});
    }
  }
});

var router = new VueRouter({
  linkActiveClass: 'active',
  routes:[
    { path: '/', component: Home},
    { path: '/:subject/create', component: Add, name: 'Add'},
    { path: '/:subject/update/:id', component: Edit, name: 'Edit'},
    { path: '/:subject/delete/:id', component: Delete, name: 'Delete'},
    { path: '/:subject/list', component: List, name: 'List'},
    { path: '/:subject/list/:column/:id', component: List, name: 'Filter'},
    { path: '/:subject/read/:id', component: View, name: 'View'},
  ]
});
app = new Vue({
  router: router,
  data: function () {
    return {definition: null};
  },
  created: function () {
    var self = this;
    api.get('/openapi').then(function (response) {
      self.definition = response.data;
    }).catch(function (error) {
      console.log(error);
    });
  }
}).$mount('#app');
</script>

</body>
</html>
